<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} - e-Commerce System</title>
    {% else %}
        <title>e-Commerce System</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.js') }}">
</head>
<body>
    <nav>

    </nav>

    {% block content %}

    {% endblock %}
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
